body {
	background-color: #22272e;
	height: 100vh;
	display: flex;
	align-items: center;
}
.containerTitle {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}

button {
	height: 48px;
	background-color: #119cea;
	border: 0;
	border-radius: 4px;
	color: #fff;
	font-size: 22px;
	font-weight: bold;
	flex: 1;
	margin: 2px;
	padding: 0 14px;
}
input {
	width: 100%;
	height: 48px;
	border: 0;
	border-radius: 4px;
	font-size: 20px;
	padding: 0 14px;
	flex: 2;
}

span, h1, strong {
	color: #fff;
	width: 100%;
	height: 48px;
	text-align: center;
}

span {
	display: flex;
	align-items: center;
	border-radius: 4px;
	background-color: #9b94941a;
}

section {
	display: flex;
	align-items: center;
}

section div {
	display: flex;
}